<center><h2>Nos BD</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4QdaIyFmjk0" frameborder="0" allowfullscreen></iframe>


<br><br>
<center><table> 
        <tr>
            <td><img src="img/bd1.jpg" width="250" height="343" alt="bd1"/>

              <br>
            </td>
             <td><img src="img/bd2.jpg" width="250" height="343" alt="bd2"/>
                  <br>
             </td>
             <td><img src="img/bd3.jpg" width="250" height="343" alt="bd3"/></a>
                     <br>   
             </td>
      </tr>
</table>


<br>



<center><table> 


             <td><img src="img/bd4.jpg"  width="250" height="343" alt="bd4"/></td>
             <td><img src="img/bd5.jpg" width="225" height="343" alt="bd5"/></td>
             <td><img src="img/bd6.jpg" width="225" height="343" alt="bd6 "/>
</td>
        </tr>
</table>
<br>
<center><table> 

             
             <td><img src="img/bd7.jpg" width="225" height="343" alt="bd7"/></td>
             <td><img src="img/bd8.jpg" width="225" height="343" alt="bd8"/></td>
             <td><img src="img/bd9.jpg" width="225" height="343" alt="bd9"/> 

</td>
        </tr>
</table>

