<center> <H2 class="titleDVD"> Nos DVD : <img src="img/Lap.png" id="img_Lap" class="img-reponsive" width="116" height="125" class="animated zoomIn"> </H2> </center>
<H3 class="subtitleDVD"> Saison 1 :</H3>
<H4> Date de sortie : 20/11/2013 </H4>
<table> <tr>
<td> <img src="img/s1p1.jpg" alt="s1p1" class="img-reponsive" width="250" height="343">
<td> <img src="img/s1p2.jpg" alt="s1p2" class="img-reponsive" width="250" height="343">
<td> <img src="img/s1p3.jpg" alt="s1p3" class="img-reponsive" width="250" height="343">
<td> <img src="img/s1p4.jpg" alt="s1p4" class="img-reponsive" width="250" height="343">
</tr> 
</table>
<h4><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="color: black; background-color: white; border-color: white;">Liste des episodes
</button></h4>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Liste des episodes</h4>
      </div>
      <div class="modal-body">
		1.	Lapin stop  
		<br>
		2.	Omelette crétine
		<br>
		3.	Poulpe crétin
		<br>
		4.	Lapin, es-tu là ?
		<br>
		5.	Plage crétine
		<br>
		6.	Braquage crétin
		<br>
		7.	Tarmac crétin
		<br>
		8.	Alerte aux lapins crétins
		<br>
		9.	Supermarché crétin
		<br>
		10.	Aspiro lapin
		<br>
		11.	Ascenseur crétin	
		<br>
		12.	Fast food crétin
		<br>
		13.	Portrait crétin
		<br>
		14.	Distributeur crétin	
		<br>
		15.	Crétinmaton	
		<br>
		16. Téléphone crétin
		<br>
		17. Lapin flash
		<br>
		18. Lapin scout
		<br>
		19.	Radio crétin
		<br>
		20.	Escalator crétin
		<br>
		21.	Lapin hibernation
		<br>
		22.	Digicode crétin
		<br>
		23.	Espion lapin
		<br>
		24.	Lapin vache
		<br>
		25.	Lapin pif
		<br>
		26.	Musée crétin	
		<br>
		27.	Lapins volants		
		<br>
		28.	Lapin surgelé	
		<br>
		29.	Lapin DJ	
		<br>
		30.	Réveil crétin	
		<br>
		31.	Crétin téléguidé	
		<br>
		32.	Queue de lapin
		<br>
		33.	Collant crétin
		<br>
		34.	Expérience lapin No 98001-c : le miroir
		<br>
		35.	Expérience lapin No 98002-c : la plate-forme
		<br>
		36.	Expérience lapin No 98003-c : le cube
		<br>
		37.	Lapin puce
		<br>
		38.	Élévation crétine
		<br>
		39.	Super lapin
		<br>
		40.	Carton crétin	
		<br>
		41.	Lapin de bois
		<br>
		42.	Traversée crétine
		<br>
		43.	Lapin gonflé
		<br>
		44.	Le crétin de l'espace
		<br>
		45.	Expérience lapin No 98004-c : les animaux
		<br>
		46.	Vachement crétin	
		<br>
		47.	Picore lapin
		<br>
		48.	Lapinmobil
		<br>
		49.	Hypnolapin	
		<br>
		50.	Lapin prisonnier	
		<br>
		51.	Rêves crétins		
		<br>
		52.	Objectif crétin	
		<br>
		53.	Jeux crétins / Jeux olympiques crétins		
		<br>
		54.	Expérience lapin No 98005-c : la différence		
		<br>
		55.	Toutou lapin		
		<br>
		56.	Expérience lapin No 98006-c : la chaise		
		<br>
		57.	Lapin go home  Alien crétin		
		<br>
		58.	Ronflement crétin		
		<br>
		59.	Infiltration crétine	
		<br>
		60.	Dents de lapin	
		<br>
		61.	Lapin soif	
		<br>
		62.	Zombie crétin		
		<br>
		63.	Lapin Mozart		
		<br>
		64.	Parasol crétin		
		<br>
		65.	Le vilain petit lapin / Lapin poule	
		<br>
		66.	Plop crétin	
		<br>
		67.	Noël à la plage / Sapin crétin		
		<br>
		68.	Intello crétin / Lapin classe		
		<br>
		69.	Halloween crétin	
		<br>
		70.	Gargouillis crétins	
		<br>
		71.	Ponton crétin / Ponton lapins
		<br>
		72.	Rhume crétin	
		<br>
		73.	Route crétine
		<br>
		74.	Savon crétin
		<br>
		75.	Coffre-fort crétin
		<br>
		76.	Tuyaux crétins		
		<br>
		77.	Slip crétin / Slip lapin
		<br>
		78. Lapin 2.0
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<br> 

<H3 class="subtitleDVD"> Saison 2 :</H3>
<H4> Date de sortie : 01/04/2015 </H4>
<table> <tr>
<td> <img src="img/s2p1.jpg" alt="s2p1" class="img-reponsive" width="250" height="343">
<br>
<td> <img src="img/s2p2.jpg" alt="s2p2" class="img-reponsive" width="250" height="343">
<br>
<td> <img src="img/s2p3.jpg" alt="s2p3" class="img-reponsive" width="250" height="343">
</tr> 
</table>
<h4><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="color: black; background-color: white; border-color: white;">Liste des episodes
</button></h4>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Liste des episodes</h4>
      </div>
      <div class="modal-body">
		1. Diète crétine		
		<br>
		2. Lapin vert		
		<br>
		3. Dans la peau d'un lapin		
		<br>
		4. Reflet dans un œil de crétin		
		<br>
		5. Lapin star		
		<br>
		6. Obsession crétine		
		<br>
		7. Lapin d'aveugle		
		<br>
		8. Le crétinoïde		
		<br>
		9. Crise de crétinerie		
		<br>
		10.	Compression crétine		
		<br>
		11.	Lapin boudin		
		<br>
		12.	Lapin rêveur		
		<br>
		13.	Le mystère des crétins disparus		
		<br>
		14. Copains comme crétins		
		<br>
		15.	Le lapin de la lune		
		<br>
		16.	Secretin		
		<br>
		17. Lapin love		
		<br>
		18. Choix crétins		
		<br>
		19.	Foyer crétin		
		<br>
		20.	Voix crétine		
		<br>
		21.	Un peu plus près des crétins		
		<br>
		22.	Drone de crétin		
		<br>
		23.	Un intrus chez les lapins		
		<br>
		24.	Visite au pays des crétins		
		<br>
		25.	Babysitting crétin		
		<br>
		26.	Mini Crétin		
		<br>
		27.	Cours lapin, cours !		
		<br>
		28.	Un crétin dans la mafia		
		<br>
		29.	Lapin grillé		
		<br>
		30.	Crétin aphone		
		<br>
		31.	Les Lapins de l'Amour		
		<br>
		32.	Complexe crétin		
		<br>
		33.	Peluche crétine		
		<br>
		34.	Le crétin de l'Ouest		
		<br>
		35.	Déguisement crétin		
		<br>
		36.	Crétins associés		
		<br>
		37.	Envahisseur crétin		
		<br>
		38.	Négociation crétine		
		<br>
		39.	Ruses crétines		
		<br>
		40.	Le dernier lapin		
		<br>
		41.	Pilote d'essai crétin		
		<br>
		42.	Lapollo 11		
		<br>
		43.	Fanfare crétine		
		<br>
		44.	Sans lune crétine		
		<br>
		45.	La Saint-Valentin des crétins		
		<br>
		46.	Dans la Peau d'un Lapin 2		
		<br>
		47.	Évasion crétine		
		<br>
		48.	Amnésie crétine		
		<br>
		49.	Chevauchée crétine		
		<br>
		50.	Le crétin du troisième type		
		<br>
		51.	La mouche du Dr Mad Lapin		
		<br>
		52.	Lapin invisible		
		<br>
		53.	Mini crétin et maxi poule		
		<br>
		54.	Lapin garou		
		<br>
		55.	Hymne crétin		
		<br>
		56.	La machine à crétiner n'importe où		
		<br>
		57.	Le pacte super crétin		
		<br>
		58.	Sur la piste des crétins		
		<br>
		59.	Crétins de compagnie		
		<br>
		60.	MagiCrétin		
		<br>
		61.	Crétin plumé		
		<br>
		62.	L'étrange créature du Dr Mad Lapin		
		<br>
		63.	Anti-gravitation crétine		
		<br>
		64.	Marionnette crétine		
		<br>
		65.	Deux crétins en orbite		
		<br>
		66.	Le rayon zappe lapin		
		<br>
		67.	L'école des crétins		
		<br>
		68.	Lapins perdus		
		<br>
		69.	La malédiction de Crétinkhâmon		
		<br>
		70.	Mad Lapin contre les robots		
		<br>
		71.	Lapin 000		
		<br>
		72.	Mad Lapin et clones crétins		
		<br>
		73.	Gang de crétins		
		<br>
		74.	Lapin lumière		
		<br>
		75.	Mad Lapin et la moustache du génie		
		<br>
		76.	Les crétins font du ski		
		<br>
		77.	Le slip fantastique du Dr Mad Lapin		
		<br>
		78.	Monstrueusement crétins
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<br> 

<H3 class="subtitleDVD"> Saison 3 :</H3>
<H4> Date de sortie : 01/02/2017 </H4>
<table> <tr>
<td> <img src="img/s3p1.jpg" alt="s3p1" class="img-reponsive" width="250" height="343">
<td> <img src="img/s3p2.jpg" alt="s3p2" class="img-reponsive" width="250" height="343">
</tr> 
</table>
<h4><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="color: black; background-color: white; border-color: white;">Liste des episodes
</button></h4>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Liste des episodes</h4>
      </div>
      <div class="modal-body">
		1. Un lapin chez les crétins		
		<br>
		2. Crétin sans fin		
		<br>
		3. Les crétins s'évadent		
		<br>
		4. Le mur anti-crétins		
		<br>
		5. Thèse crétine		
		<br>
		6. Cinécrétin		
		<br>
		7. Dôme crétin		
		<br>
		8. Apprenti crétin		
		<br>
		9. Bande originale crétine		
		<br>
		10.	Quiz crétin		
		<br>
		11.	Coéquipiers crétins		
		<br>
		12.	Crétin gorille		
		<br>
		13.	Crétin et mat		
		<br>
		14.	Bestiaire crétin		
		<br>
		15.	Cauchemar crétin		
		<br>
		16.	Dans la peau d'un crétin 3		
		<br>
		17.	Tribunal crétin		
		<br>
		18.	Jumeau crétin		
		<br>
		19.	Motards crétins		
		<br>
		20.	Lapinsomniaque		
		<br>
		21.	Menottes crétines		
		<br>
		22.	Crétinbowl 1		
		<br>
		23.	Crétinbowl 2		
		<br>
		24.	Justiciers crétins		
		<br>
		25.	Un alien chez les crétins		
		<br>
		26.	Crétin de service		
		<br>
		27.	Recongélation crétine		
		<br>
		28.	Téléportacrétins		
		<br>
		29.	Crétinus carnivorus		
		<br>
		30.	Crétins et balle perdue		
		<br>
		31.	Poisson crétin		
		<br>
		32.	Crétins du bout du monde		
		<br>
		33.	Chevaliers crétins		
		<br>
		34.	Papa crétin		
		<br>
		35.	Tribu crétine		
		<br>
		36.	Pirates crétins		
		<br>
		37.	Mona crétina		
		<br>
		38.	La marche des crétins		
		<br>
		39.	Vaudou crétin		
		<br>
		40.	Trésor crétin		
		<br>
		41.	Aéro crétins		
		<br>
		42.	Crétin glacial 1		
		<br>
		43.	Crétin glacial 2		
		<br>
		44.	Crétin radioactif		
		<br>
		45.	Crétin charmant		
		<br>
		46.	Crétin à rebours		
		<br>
		47.	Crétin 000 contre les pingouins		
		<br>
		48.	Parc à crétins		
		<br>
		49.	Crétin pingouin		
		<br>
		50.	Énergie crétine		
		<br>
		51.	Crétin l'Enchanteur
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<center> <H2 class="titleDVD"> Nos coffrets :<img src="img/bwah.png" id="img_bwah"  width="116" height="125" class="animated tada"> </H2> </center>
<table> <tr>
<td> <img src="img/coffret1.jpg" alt="Coffret" class="img-reponsive" width="250" height="343">
<br> 
<H3 class="subtitleDVD"> Saison 1 : </H3> <H4> Date de sortie : 01/09/2015 </H4> </td> 
<td> <img src="img/coffret2.jpg" alt="Coffret2" class="img-reponsive" width="250" height="343">
<br> 
<H3 class="subtitleDVD"> Saison 2 : </H3> <H4> Date de sortie : 21/10/2015 </H4> </td>
</tr> 
</table>
