<div class="container">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="img/PC-Gamer-Spec-01.png" alt="PC-Gamer" style="width:">
        <div class="caption">
          <a href="#"><p>Les jeux sur plateforme PC</a>
        </div>
      </div>
    </div>
      <div class="container">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/xbox-360.jpg" alt="Xbox-360" style="width:25%">
          <div class="caption">
            <a href=""><p>Les jeux sur plateforme XBOX 360</a>
          </div>
        </a>
      </div>
    </div>
     <div class="container">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/Wii.jpg" alt="Consol WII" style="width:25%">
          <div class="caption">
            <a href="#"><p>Les jeux sur plateforme WII</a>
          </div>
      </div>
    </div>
</div>

      <div class="container">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/Nintendo3DS.png" alt="Nintendo 3DS" width="676px" height="411px">
          <div class="caption">
            <a href=""><p>Les jeux sur plateforme Nintendo 3DS</a>
          </div>
        </a>
      </div>
    </div>
     <div class="container">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/Kinnect.jpg" alt="XBOX Kinnect" style="width:25%">
          <div class="caption">
            <a href="#"><p>Les jeux sur plateforme XBOX 360 Kinnect</a>
          </div>
      </div>
    </div>
</div>
</body>
</html>
