<!-- Mettres les images sur ligne de la 1ere section
    Mettre un pele mele des jeux (4 ou 5 sur une ligne) avec:
      - image
      - nom du jeu
      - console
      - descriptif: court avec un bouton more pour afficher la suite
 --> 
<section>
  <div class="container">
      <img src="img/PC-Gamer-Spec-01.png" alt="Jeux PC" style="width:10rem;height: 10rem;" title="Jeux PC">
     <img src="img/xbox-360.jpg" alt="Jeux XBOX" style="width:10rem; height: 10rem;" title="Jeux XBOX">
      <img src="img/Wii.jpg" alt="Jeux WII" style="width:10rem;height:10rem;" title="Jeux WII">
      <img src="img/Nintendo3DS.png" alt="Jeux Nintendo 3DS" style="width:10rem;height:10rem;" title="Jeux 3DS">
      <img src="img/Kinnect.jpg" alt="Jeux Playstation" style="width:10rem;height:10rem;" title="Jeux Playstation">
  </div>
</section>

<!--  JEUX PELE MELE-->

<!-- 3 col md 3 et 3 id output et 3 fichier json -->
<section>
  <div id="container">
    <div id="row">
      <div id="output" class="col-md-3"></div>
    </div>
  </div>
</section>