<style>
  p{
    text-align: center;
    margin-bottom: 6rem;
  }

  .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card .card-heading {
      padding: 0 20px;
      margin: 0;
  }

  .card .card-heading.simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
  }

  .card .card-heading.image img {
      display: inline-block;
      width: 46px;
      height: 46px;
      margin-right: 15px;
      vertical-align: top;
      border: 0;
      -webkit-border-radius: 50%;
      border-radius: 50%;
  }

  .card .card-heading.image .card-heading-header {
      display: inline-block;
      vertical-align: top;
  }

  .card .card-heading.image .card-heading-header h3 {
      margin: 0;
      font-size: 14px;
      line-height: 16px;
      color: #262626;
  }

  .card .card-heading.image .card-heading-header span {
      font-size: 12px;
      color: #999999;
  }

  .card .card-body {
      padding: 0 20px;
      margin-top: 20px;
  }

  .card .card-media {
      padding: 0 20px;
      margin: 0 -14px;
  }

  .card .card-media img {
      max-width: 100%;
      max-height: 100%;
  }

  .card .card-actions {
      min-height: 30px;
      padding: 0 20px 20px 20px;
      margin: 20px 0 0 0;
  }

  .card .card-comments {
      padding: 20px;
      margin: 0;
      background-color: #f8f8f8;
  }

  .card .card-comments .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
  }

  .card .card-comments .comments-collapse-toggle a,
  .card .card-comments .comments-collapse-toggle span {
      padding-right: 5px;
      overflow: hidden;
      font-size: 12px;
      color: #999;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  .card-comments .media-heading {
      font-size: 13px;
      font-weight: bold;
  }

  .card.people {
      position: relative;
      display: inline-block;
      width: 170px;
      height: 300px;
      padding-top: 0;
      margin-left: 20px;
      overflow: hidden;
      vertical-align: top;
  }

  .card.people:first-child {
      margin-left: 0;
  }

  .card.people .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
  }

  .card.people .card-top.green {
      background-color: #53a93f;
  }

  .card.people .card-top.blue {
      background-color: #427fed;
  }

  .card.people .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .card.people .card-info .title {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      color: #404040;
  }

  .card.people .card-info .desc {
      display: block;
      margin: 8px 14px 0 14px;
      overflow: hidden;
      font-size: 12px;
      line-height: 16px;
      color: #737373;
      text-overflow: ellipsis;
  }

  .card.people .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .card.hovercard {
      position: relative;
      padding-top: 0;
      overflow: hidden;
      text-align: center;
      background-color: rgba(214, 224, 226, 0.2);
  }

  .card.hovercard .cardheaderAurelie {
      background: url("https://lh3.googleusercontent.com/tPfoXFciIwMAYHyN_B1YPZyvt0f6HylzNUqttLdSRRgn5TBb8MK2AkY6HbQWDqqaMDWR=w300");
      background-size: cover;
      height: 135px;
  }

  .card.hovercard .cardheaderAlex {
      background: url("https://image.tmdb.org/t/p/w1280/3qlzyunDrkwWOKEWZRxeIF4HEUC.jpg");
      background-size: cover;
      height: 135px;
  }

  .card.hovercard .cardheaderWendy {
      background: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/13124842_1285631001465450_6981696653613201932_n.png?oh=2e2bc2d8db5aedb140cfe9c3a62033d3&oe=59C52078");
      background-size: cover;
      height: 135px;
  }

  .card.hovercard .cardheaderRobyn {
      background: url("http://i2.wp.com/www.girlynvaders.be/wp-content/uploads/2016/02/the-legend-of-the-zelda-for-the-wii-u.png?fit=1024%2C576");
      background-size: cover;
      height: 135px;
  }

  .card.hovercard .avatar {
      position: relative;
      top: -50px;
      margin-bottom: -50px;
  }

  .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255,255,255,0.5);
  }

  .card.hovercard .info {
      padding: 4px 8px 10px;
  }

  .card.hovercard .info .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
  }

  .card.hovercard .info .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
  }

  .card.hovercard .bottom {
      padding: 0 20px;
      margin-bottom: 8rem;
  }

  .btn{ 
    border-radius: 50%; 
    width:6rem; 
    height:6rem; 
    line-height:5.5rem;
    margin-top: 4rem; 

  }

</style>

<h2>Qui sommes nous ?</h2>

<p>Ce site est le fruit d'une collaboration de 4 developpeurs/integrateurs web dans le cadre d'un projet de formation. Voici la presentation de l'equipe: </p>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card hovercard">
            <div class="cardheaderAurelie"></div>
            <div class="avatar">
                <img src="img/aurelie.jpg" alt="photo aurelie">
            </div>
            <div class="info">
                <div class="title">
                    <h4>Aurelie C.</h4>
                </div>
                <div class="desc">Developpeur/Integrateur Web</div>
                <div class="desc">Passionnée de nouvelles technologies</div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-sm" rel="publisher"
                   href="https://www.facebook.com/aurelie.chenot.5" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Lili_love24" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/pokydoki24" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
      <div class="card hovercard">
          <div class="cardheaderAlex"></div>
          <div class="avatar">
              <img src="img/alex.jpg" alt="photo alexandre">
          </div>
          <div class="info">
              <div class="title">
                  <h4>Alexandre V.</h4>
              </div>
              <div class="desc">Developpeur/Integrateur Web</div>
              <div class="desc">Vive les sites Web</div>
          </div>
          <div class="bottom">
              <a class="btn btn-primary btn-sm" rel="publisher"
                 href="https://alexvalensi.wixsite.com/curriculumvitae" target="_blank">
                  <i class="fa fa-user"></i>
              </a>
              <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/alex_wp22" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-warning btn-sm" rel="publisher" href="https://fr.linkedin.com/in/valensialexandre" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
          </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hovercard">
          <div class="cardheaderWendy"></div>
          <div class="avatar">
              <img src="img/wendy.jpg" alt="photo wendy">
          </div>
          <div class="info">
              <div class="title">
                  <h4>Wendy D.</h4>
              </div>
              <div class="desc">Developpeur/Integrateur Web</div>
              <div class="desc">Geek ,Marmotte , Otaku et j'en suis fière ! </div>
          </div>
          <div class="bottom">
              <a class="btn btn-primary btn-sm" rel="publisher"
                 href="https://www.facebook.com/bakamyneko/?hc_ref=SEARCH&fref=nf" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Bakamyneko/" target="_blank">
                  <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-warning btn-sm" rel="publisher" href="https://fr.linkedin.com/in/wendy-dhieux-360a18102" target="_blank">
                  <i class="fa fa-linkedin"></i>
              </a>
          </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card hovercard">
          <div class="cardheaderRobyn"></div>
          <div class="avatar">
              <img src="img/rob.jpg" alt="photo robin">
          </div>
          <div class="info">
              <div class="title">
                  <h4>Robyn P.</h4>
              </div>
              <div class="desc">Developpeur/Integrateur Web</div>
              <div class="desc">Passionés de Mangas / Jeux Videos</div>
          </div>
          <div class="bottom">
              <a class="btn btn-primary btn-sm" rel="publisher"
                 href="https://www.facebook.com/G3NESIS-441307589229868/?hc_ref=SEARCH&fref=nf" target="_blank">
                  <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-primary btn-twitter btn-sm" href="http://www.mangakas.com/fr/manga/view/416/pachin+go" target="_blank">
                  <i class="fa fa-user"></i>
              </a>
          </div>
      </div>
    </div>

  </div>
</div>